<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Deedle" version="1.2.5" targetFramework="net452" />
  <package id="Deedle.RPlugin" version="1.2.5" targetFramework="net452" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net452" />
  <package id="FSharp.Charting" version="0.90.14" targetFramework="net452" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net452" />
  <package id="FSharp.Data" version="2.3.2" targetFramework="net452" />
  <package id="FsLab" version="1.0.2" targetFramework="net452" />
  <package id="Google.DataTable.Net.Wrapper" version="3.1.2.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.13.1" targetFramework="net452" />
  <package id="MathNet.Numerics.FSharp" version="3.13.1" targetFramework="net452" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NFX" version="3.5.0.2" targetFramework="net452" />
  <package id="PacketDotNet" version="0.16.0" targetFramework="net452" />
  <package id="PacketDotNet.Netfox" version="0.13.0.3" targetFramework="net452" />
  <package id="R.NET.Community" version="1.6.5" targetFramework="net452" />
  <package id="R.NET.Community.FSharp" version="1.6.5" targetFramework="net452" />
  <package id="RProvider" version="1.1.20" targetFramework="net452" />
  <package id="SharpPcap" version="4.4.0" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.5" targetFramework="net452" />
  <package id="Suave" version="1.1.3" targetFramework="net452" />
  <package id="System.Threading.Tasks.Dataflow" version="4.7.0" targetFramework="net452" />
  <package id="XPlot.GoogleCharts" version="1.4.2" targetFramework="net452" />
  <package id="XPlot.GoogleCharts.Deedle" version="1.4.2" targetFramework="net452" />
  <package id="XPlot.Plotly" version="1.4.2" targetFramework="net452" />
</packages>