<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.4.11" targetFramework="net452" />
  <package id="PacketDotNet.Netfox" version="0.13.0.3" targetFramework="net452" />
  <package id="redis-64" version="3.0.503" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.5" targetFramework="net452" />
</packages>